In [6]:
import pandas as pd
from tqdm import tqdm_notebook
import numpy as np

In [7]:
course_structure = pd.read_csv("blitz/course-217-structure.csv")
activity_data = pd.read_csv("blitz/course-217-events.csv")

In [8]:
course_structure

,course_id,module_id,module_position,lesson_id,lesson_position,step_id,step_position,step_type,step_cost
0,217,614,2,13228,2,38842,1,text,0
1,217,614,2,13228,2,39715,6,code,1
2,217,614,2,13228,2,39716,7,code,1
3,217,614,2,13228,2,39717,8,code,1
4,217,614,2,13228,2,39721,9,free-answer,0
5,217,614,2,13228,2,42383,4,video,0
6,217,614,2,13228,2,42384,2,video,0
7,217,614,2,13228,2,42385,3,video,0
8,217,614,2,13228,2,42386,5,video,0
9,217,614,2,13229,3,38845,1,text,0
10,217,614,2,13229,3,40665,5,code,1
11,217,614,2,13229,3,40679,6,free-answer,0
12,217,614,2,13229,3,42390,3,video,0
13,217,614,2,13229,3,42391,2,video,0
14,217,614,2,13229,3,42392,4,video,0
15,217,614,2,13230,4,38848,1,text,0
16,217,614,2,13230,4,40680,8,choice,1
17,217,614,2,13230,4,40681,7,choice,1
18,217,614,2,13230,4,40683,10,sorting,1
19,217,614,2,13230,4,40684,9,sorting,1
20,217,614,2,13230,4,42396,3,video,0
21,217,614,2,13230,4,42397,2,video,0
22,217,614,2,13230,4,42398,5,video,0
23,217,614,2,13230,4,42399,4,video,0
24,217,614,2,13230,4,42400,6,video,0
25,217,614,2,13232,1,38854,1,text,0
26,217,614,2,13232,1,64865,2,video,0
27,217,618,4,13231,1,44104,1,video,0
28,217,618,4,13233,2,38857,1,text,0
29,217,618,4,13233,2,44112,4,video,0
...,...,...,...,...,...,...,...,...,...
203,217,623,8,13262,7,42593,3,free-answer,0
204,217,623,8,13262,7,47453,2,video,0
205,217,623,8,13262,7,58904,7,choice,1
206,217,624,9,13264,1,61608,2,video,0
207,217,624,9,13264,1,61609,3,video,0
208,217,624,9,13264,1,62158,1,video,0
209,217,624,9,13265,2,61520,1,video,0
210,217,624,9,13265,2,61521,3,video,0
211,217,624,9,13265,2,61522,2,video,0
212,217,624,9,13265,2,61523,4,video,0
213,217,624,9,16970,3,61540,1,video,0
214,217,624,9,16970,3,61541,3,video,0
215,217,624,9,16970,3,61542,2,video,0
216,217,624,9,16970,3,61543,4,video,0
217,217,624,9,16970,3,61585,6,video,0
218,217,624,9,16970,3,61586,5,video,0
219,217,635,1,13140,1,38518,1,text,0
220,217,635,1,13140,1,38519,3,choice,0
221,217,635,1,13140,1,38521,2,text,0
222,217,635,1,13140,1,38522,6,text,0
223,217,635,1,13140,1,38523,7,text,0
224,217,635,1,13140,1,38524,8,text,0
225,217,635,1,13140,1,38525,9,text,0
226,217,635,1,13140,1,38526,12,text,0
227,217,635,1,13140,1,38527,5,text,0
228,217,635,1,13140,1,38528,10,text,0
229,217,635,1,13140,1,38529,4,code,1
230,217,635,1,13140,1,39236,11,text,0
231,217,635,1,13140,1,83925,13,text,0
232,217,1260,10,24379,1,83966,1,text,0

In [35]:
o = course_structure.sort_values(['module_position', 'lesson_position', 'step_position'])
order = np.array(o.step_id)

In [11]:
activity_data

         user_id           action  step_id        time
0              1           viewed    47435  1465181036
1              1           viewed    47438  1465181034
2              1           viewed    47435  1465181021
3              1           viewed    47436  1465181015
4              1           viewed    41605  1465180037
5              1           viewed    47436  1465180033
6              1           viewed    47436  1465179924
7              2           viewed    38906  1465176914
8              2           viewed    38909  1465176484
9              3           viewed    44115  1465176471
10             3           viewed    38857  1465176470
11             3           viewed    44104  1465176444
12             3           viewed    52720  1465176432
13             1           viewed    47437  1465175623
14             1           viewed    47434  1465175284
15             1           viewed    38933  1465175269
16             1           viewed    52722  1465174679
17             4           passed    44381  1465173845
18             4       discovered    44381  1465173845
19             4           viewed    44381  1465173845
20             4           passed    44380  1465173087
21             4       discovered    44380  1465173087
22             4           viewed    44380  1465173087
23             4           passed    44383  1465172670
24             4       discovered    44383  1465172670
25             4           viewed    44383  1465172670
26             4           passed    38872  1465172667
27             4       discovered    38872  1465172667
28             4           viewed    38872  1465172667
29             4  started_attempt    40681  1465172598
...          ...              ...      ...         ...
1431893     1229           passed    38528  1440065661
1431894     1229       discovered    38528  1440065661
1431895     1229           viewed    38528  1440065661
1431896     1229           passed    38525  1440065620
1431897     1229       discovered    38525  1440065620
1431898     1229           viewed    38525  1440065620
1431899     1229           passed    38524  1440065617
1431900     1229       discovered    38524  1440065617
1431901     1229           viewed    38524  1440065617
1431902     1229           passed    38523  1440065607
1431903     1229       discovered    38523  1440065607
1431904     1229           viewed    38523  1440065607
1431905     1229           passed    38522  1440065597
1431906     1229       discovered    38522  1440065597
1431907     1229           viewed    38522  1440065597
1431908     1229           passed    38527  1440065595
1431909     1229       discovered    38527  1440065595
1431910     1229           viewed    38527  1440065595
1431911     1229           viewed    38529  1440065587
1431912     1229           viewed    38519  1440065583
1431913     1229       discovered    38529  1440065581
1431914     1229           viewed    38529  1440065581
1431915     1229       discovered    38519  1440065580
1431916     1229           viewed    38519  1440065580
1431917     1229           passed    38521  1440065578
1431918     1229       discovered    38521  1440065578
1431919     1229           viewed    38521  1440065578
1431920     1229           passed    38518  1440065573
1431921     1229       discovered    38518  1440065573
1431922     1229           viewed    38518  1440065573

[1431923 rows x 4 columns]

In [12]:
user_ids = activity_data.user_id.unique()

In [20]:
users_actions = {}
for user in user_ids:
    users_actions[user] = activity_data[activity_data.user_id == user][['step_id', 'time']]
    users_actions[user].reset_index(drop=True)

In [36]:
reverse_order = {}
for key, value in enumerate(order):
    reverse_order[value] = key

In [22]:
def is_come_back(user_id, step_id):
    next_step = order[reverse_order[step_id] + 1]
    needed_events = users_actions[user_id][users_actions[user_id].step_id.isin([step_id, next_step])]

    first_visit = needed_events[needed_events.step_id == step_id].time.min()
    first_visit_next_step = needed_events[(needed_events.step_id == next_step)
                                   & (needed_events.time > first_visit)].time.min()
    return ((needed_events.time > first_visit_next_step) & (needed_events.step_id == step_id)).any()

In [52]:
def count_come_back_ratio(step_id):
    if reverse_order[step_id] >= len(order)-1:
        return 0
    
    returned = 0
    good_users = activity_data[activity_data.step_id == step_id].user_id.unique()
    
    for user_id in good_users:
        returned += is_come_back(user_id, step_id)
    
    return float(returned) / float(good_users.shape[0])

In [53]:
come_back_ratio = {}
for step in tqdm_notebook(order):
    come_back_ratio[step] = count_come_back_ratio(step)

In [54]:
reverse_come_back_ratio = {}
for key in come_back_ratio.keys():
    reverse_come_back_ratio[come_back_ratio[key]] = key

In [55]:
top_10 = []
for value in sorted(come_back_ratio.values(), reverse=True):
    top_10.append(reverse_come_back_ratio[value])

In [56]:
top_10[:10]

[41684, 41604, 41097, 41481, 42593, 38872, 41686, 39735, 39740, 39717]