In [23]:
import pandas as pd
from tqdm import tqdm_notebook
import numpy
from sklearn.model_selection import cross_val_score
from sklearn.utils import shuffle
import numpy as np
from sklearn.preprocessing import MinMaxScaler

import matplotlib.pyplot as plt 

from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [27]:
%matplotlib inline

In [2]:
course_structure = pd.read_csv("kaggle/structure.csv")
activity = pd.read_csv("kaggle/user_activity.csv")

In [3]:
targets = pd.read_csv("kaggle/targets.csv")
test_activity = pd.read_csv("kaggle/user_activity_test.csv")
ones_only = pd.read_csv("kaggle/ones_only.csv")

In [4]:
course_structure

,course_id,module_id,module_position,lesson_id,lesson_position,step_id,step_position,step_type,step_cost
0,7,17,1,2721,1,7225,1,text,0
1,7,17,1,2721,1,7230,2,text,0
2,7,17,1,2721,1,7231,3,text,0
3,7,17,1,2721,1,7232,4,text,0
4,7,17,1,2721,1,43604,5,text,0
5,7,17,1,2721,1,7233,6,text,0
6,7,17,1,2721,1,10828,7,text,0
7,7,17,1,531,2,2828,1,text,0
8,7,17,1,531,2,4848,2,video,0
9,7,17,1,531,2,4850,3,video,0
10,7,17,1,531,2,4851,4,video,0
11,7,17,1,531,2,6219,5,video,0
12,7,17,1,531,2,6220,6,video,0
13,7,17,1,531,2,6221,7,video,0
14,7,17,1,531,2,6222,8,video,0
15,7,17,1,531,2,2824,9,choice,1
16,7,17,1,531,2,2825,10,choice,1
17,7,17,1,532,3,7257,1,text,0
18,7,17,1,532,3,6950,2,video,0
19,7,17,1,532,3,2827,3,text,0
20,7,17,1,532,3,6951,4,video,0
21,7,17,1,532,3,6954,5,video,0
22,7,17,1,532,3,6956,6,video,0
23,7,17,1,532,3,6957,7,video,0
24,7,17,1,532,3,6958,8,video,0
25,7,17,1,532,3,6959,9,video,0
26,7,17,1,532,3,2829,10,choice,1
27,7,17,1,533,4,7268,1,text,0
28,7,17,1,533,4,6962,2,video,0
29,7,17,1,533,4,6963,3,video,0
...,...,...,...,...,...,...,...,...,...
324,7,131,6,563,1,11575,8,code,2
325,7,131,6,564,2,2708,1,text,0
326,7,131,6,564,2,11540,2,video,0
327,7,131,6,564,2,11541,3,video,0
328,7,131,6,564,2,11542,4,video,0
329,7,131,6,564,2,11479,5,code,2
330,7,131,6,564,2,11469,6,text,0
331,7,131,6,564,2,11685,7,text,0
332,7,131,6,564,2,11471,8,code,2
333,7,131,6,564,2,11463,9,code,2
334,7,131,6,564,2,11543,10,video,0
335,7,131,6,564,2,11572,11,code,3
336,7,131,6,566,3,2710,1,text,0
337,7,131,6,566,3,11545,2,video,0
338,7,131,6,566,3,11544,3,video,0
339,7,131,6,566,3,11546,4,video,0
340,7,131,6,566,3,11547,5,video,0
341,7,131,6,566,3,11486,6,text,0
342,7,131,6,566,3,11484,7,code,2
343,7,131,6,567,4,2711,1,text,0
344,7,131,6,567,4,11548,2,video,0
345,7,131,6,567,4,11487,3,code,2
346,7,131,6,567,4,11549,4,video,0
347,7,131,6,567,4,11550,5,video,0
348,7,131,6,567,4,11551,6,video,0
349,7,131,6,567,4,11552,7,video,0
350,7,131,6,567,4,11553,8,video,0
351,7,1309,7,24498,1,84530,1,text,0
352,7,1309,7,24498,1,84531,2,video,0
353,7,1309,7,24498,1,84377,3,text,0

In [4]:
activity

         user_id      action  step_id        time step_type  step_cost
0           5920  discovered     2681  1403165936      text          0
1           5920      passed     2681  1403165936      text          0
2           5920      viewed     2681  1403165936      text          0
3           5920      passed     2682  1403165946      text          0
4           5920      viewed     2682  1403165946      text          0
5           5920  discovered     2682  1403165946      text          0
6           5920      passed     2687  1403165994      text          0
7           5920  discovered     2687  1403165994      text          0
8           5920      viewed     2687  1403165994      text          0
9           5920      passed     2688  1403166007      text          0
10          5920      viewed     2688  1403166007      text          0
11          5920  discovered     2688  1403166007      text          0
12          5920      passed     2689  1403166013      text          0
13          5920  discovered     2689  1403166013      text          0
14          5920      viewed     2689  1403166013      text          0
15          5920  discovered     2690  1403166018      text          0
16          5920      viewed     2690  1403166018      text          0
17          5920      passed     2690  1403166018      text          0
18          5920      viewed     2691  1403166028      text          0
19          5920      passed     2691  1403166028      text          0
20          5920  discovered     2691  1403166028      text          0
21          5920      viewed     2692  1403166040      text          0
22          5920      passed     2692  1403166040      text          0
23          5920  discovered     2692  1403166040      text          0
24          5920  discovered     2693  1403166048      text          0
25          5920      viewed     2693  1403166048      text          0
26          5920      passed     2693  1403166048      text          0
27          5920      viewed     2694  1403166054      text          0
28          5920      passed     2694  1403166054      text          0
29          5920  discovered     2694  1403166054      text          0
...          ...         ...      ...         ...       ...        ...
2189825        4      passed     7310  1465180775     video          0
2189826        4      viewed     7310  1465180775     video          0
2189827        4  discovered     7310  1465180775     video          0
2189828        1      viewed    44174  1465180933      code          3
2189829        4      viewed     7312  1465181069     video          0
2189830        4  discovered     7312  1465181069     video          0
2189831        4      passed     7312  1465181069     video          0
2189832        1      viewed    40959  1465181183     video          0
2189833        1      viewed    11455  1465181219      code          3
2189834        4  discovered     7311  1465181327     video          0
2189835        4      passed     7311  1465181327     video          0
2189836        4      viewed     7311  1465181327     video          0
2189837        1      viewed     7052  1465181371     video          0
2189838        1      viewed    11061  1465181472     video          0
2189839        1      viewed     9769  1465181539      text          0
2189840        1      viewed     2701  1465181677      text          0
2189841        4  discovered    43608  1465181698      text          0
2189842        4      passed    43608  1465181698      text          0
2189843        4      viewed    43608  1465181698      text          0
2189844        4      viewed    41483  1465181906      text          0
2189845        4  discovered    41483  1465181906      text          0
2189846        4      passed    41483  1465181906      text          0
2189847        4      viewed     7322  1465182052     video          0
2189848        4  discovered     7322  1465182052     video          0
2189849        4      passed     7322  1465182052     video          0
2189850        1      viewed    39540  1465182117      code          1
2189851        1      viewed    44097  1465182653    choice          1
2189852        1      viewed    11077  1465182700     video          0
2189853        1      viewed    39540  1465182918      code          1
2189854        1      viewed    10192  1465182971      code          2

[2189855 rows x 6 columns]

In [5]:
users_ids = sorted(activity.user_id.unique())

In [6]:
train_data = pd.DataFrame(index=users_ids)

# Attempt 2

In [8]:
order = course_structure.sort_values(['module_position', 'lesson_position', "step_position"])

In [14]:
order = np.array(order.step_id)

In [15]:
reverse_order = {}
count = 0
for step in order:
    reverse_order[step] = count
    count += 1

In [10]:
tasks = course_structure[course_structure.step_cost != 0].step_id

In [11]:
videos = course_structure[course_structure.step_type == "video"].step_id

In [12]:
users_actions = {}
for id in users_ids:
    users_actions[id] = activity[activity.user_id == id]

In [19]:
course_completion = {}
for id in tqdm_notebook(users_ids):
    completion = []
    for step in order:
        actions = users_actions[id][users_actions[id].step_id == step].action.unique()
        if "passed" in actions:
            completion.append(2)
        elif "viewed" in actions:
            completion.append(1)
        else:
            completion.append(0)
    course_completion[id] = completion

In [22]:
succes_rate = {}
for id in tqdm_notebook(users_ids):
        actions = users_actions[id][users_actions[id].step_cost != 0].action.value_counts().to_dict()
        if "passed" in actions.keys():
            succes_rate[id] = actions["passed"] / actions["started_attempt"]
        else:
            succes_rate[id] = 0

In [32]:
last_actions = {}
for id in tqdm_notebook(users_ids):
    count = 0
    last_step = 0
    for action in course_completion[id]:
        if action != 0:
            last_step = order[count]
        count += 1
    last_actions[id] = last_step

ERROR! Session/line number was not unique in database. History logging moved to new session 57

In [34]:
prices = {}
for action in tasks:
    prices[action] = int(course_structure[course_structure.step_id == action].step_cost)

In [35]:
watched_videos_ration = {}
score_ratio = {}

for id in tqdm_notebook(users_ids):
    ind = 0
    score = 0
    overall_score = 0
    watched_videos = 0
    num_videos = 0
    while order[ind] != last_actions[id]:
        action_id = order[ind]
        if action_id in tasks.values:
            score += prices[action_id]
            if course_completion[id][ind] == 2:
                overall_score += prices[action_id]
        elif action_id in videos.values:
            num_videos += 1
            if course_completion[id][ind] == 2:
                watched_videos += 1
        ind += 1
        if ind >= len(order):
            break
            
    if num_videos == 0:
        watched_videos_ration[id] = 0
    else:
        watched_videos_ration[id] = watched_videos / num_videos
    if score == 0:
        score_ratio[id] = 0
    else:
        score_ratio[id] = overall_score / score

In [36]:
users_gaps = {}
for id in tqdm_notebook(users_ids):
    times = users_actions[id].time.unique()
    gaps = []
    for index in range(len(times) - 1):
        gaps.append(times[index+1] - times[index])
    users_gaps[id] = np.array(gaps).mean()
users_gaps = pd.Series(users_gaps).fillna(-1).to_dict()

/home/mdm/anaconda3/lib/python3.5/site-packages/numpy/core/_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)

In [37]:
train_data['score_ratio'] = pd.Series(score_ratio)
train_data['watched_videos_ration'] = pd.Series(watched_videos_ration)
train_data['succes_rate'] = pd.Series(succes_rate)
train_data['users_gaps'] = pd.Series(users_gaps)

In [43]:
temp_y = pd.Series(targets['passed'], index=targets['user_id'])

In [44]:
train_data["target"] = temp_y

In [46]:
train_data.dropna(inplace=True)

## Beautiful function

In [57]:
def transform(activity, targets=[]):
    users_ids = sorted(activity.user_id.unique())
    
    train_data = pd.DataFrame(index=users_ids)
    
    order = course_structure.sort_values(['module_position', 'lesson_position', "step_position"])
    
    order = np.array(order.step_id)
    
    reverse_order = {}
    count = 0
    for step in order:
        reverse_order[step] = count
        count += 1

    tasks = course_structure[course_structure.step_cost != 0].step_id

    videos = course_structure[course_structure.step_type == "video"].step_id

    users_actions = {}
    for id in users_ids:
        users_actions[id] = activity[activity.user_id == id]

    course_completion = {}
    for id in tqdm_notebook(users_ids):
        completion = []
        for step in order:
            actions = users_actions[id][users_actions[id].step_id == step].action.unique()
            if "passed" in actions:
                completion.append(2)
            elif "viewed" in actions:
                completion.append(1)
            else:
                completion.append(0)
        course_completion[id] = completion

    succes_rate = {}
    for id in tqdm_notebook(users_ids):
        actions = users_actions[id][users_actions[id].step_cost != 0].action.value_counts().to_dict()
        if "passed" in actions.keys():
            succes_rate[id] = actions["passed"] / actions["started_attempt"]
        else:
            succes_rate[id] = 0

    last_actions = {}
    for id in tqdm_notebook(users_ids):
        count = 0
        last_step = 0
        for action in course_completion[id]:
            if action != 0:
                last_step = order[count]
            count += 1
        last_actions[id] = last_step

    prices = {}
    for action in tasks:
        prices[action] = int(course_structure[course_structure.step_id == action].step_cost)

    watched_videos_ration = {}
    score_ratio = {}

    for id in tqdm_notebook(users_ids):
        ind = 0
        score = 0
        overall_score = 0
        watched_videos = 0
        num_videos = 0
        while order[ind] != last_actions[id]:
            action_id = order[ind]
            if action_id in tasks.values:
                score += prices[action_id]
                if course_completion[id][ind] == 2:
                    overall_score += prices[action_id]
            elif action_id in videos.values:
                num_videos += 1
                if course_completion[id][ind] == 2:
                    watched_videos += 1
            ind += 1
            if ind >= len(order):
                break

        if num_videos == 0:
            watched_videos_ration[id] = 0
        else:
            watched_videos_ration[id] = watched_videos / num_videos
        if score == 0:
            score_ratio[id] = 0
        else:
            score_ratio[id] = overall_score / score

    users_gaps = {}
    for id in tqdm_notebook(users_ids):
        times = users_actions[id].time.unique()
        gaps = []
        for index in range(len(times) - 1):
            gaps.append(times[index+1] - times[index])
        users_gaps[id] = np.array(gaps).mean()
    users_gaps = pd.Series(users_gaps).fillna(-1).to_dict()

    train_data['score_ratio'] = pd.Series(score_ratio)
    train_data['watched_videos_ration'] = pd.Series(watched_videos_ration)
    train_data['succes_rate'] = pd.Series(succes_rate)
    train_data['users_gaps'] = pd.Series(users_gaps)

    if len(targets) != 0:
        temp_y = pd.Series(targets['passed'], index=targets['user_id'])

        train_data["target"] = temp_y

        train_data.dropna(inplace=True)
        
        x = train_data.drop("target", axis=1)
        y = train_data["target"]
        
        return x, y
    
    return train_data

## Check

In [64]:
x = train_data.drop("target", axis=1)
y = train_data["target"]

In [60]:
svc = SVC(class_weight="balanced")
lg = LogisticRegression(class_weight="balanced")
dtc = DecisionTreeClassifier(class_weight="balanced")

In [69]:
cross_val_score(dtc, x, y).mean()

0.75289965482250132

In [70]:
dtc.fit(x, y)

DecisionTreeClassifier(class_weight='balanced', criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

## Predict

In [63]:
test_x =  transform(test_activity)

/home/mdm/anaconda3/lib/python3.5/site-packages/numpy/core/_methods.py:59: RuntimeWarning: Mean of empty slice.
  warnings.warn("Mean of empty slice.", RuntimeWarning)

In [71]:
predictions = pd.Series(dtc.predict(test_x), index=test_x.index)

In [72]:
answer = pd.DataFrame()
answer['user_id'] = predictions.index
answer['passed'] = predictions.values

In [73]:
answer['passed'] = answer['passed'].astype(int)

In [75]:
file = answer.to_csv(index=False)

In [76]:
f = open("answer.csv", "w")

In [77]:
f.write(file)

31842